
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/2022-05-29T16-59-36_519-jvmRun1.dump
target/surefire-reports/2022-05-28T23-17-31_785-jvmRun1.dump
target/surefire-reports/ec.edu.espe.arquitectura.escolastico.EscolasticoApplicationTests.txt
nbactions.xml
